.blog {
    margin: 0 3rem 10vh 0;
    overflow: scroll;
    overflow-x: hidden;
}

.blog-entry {
    border: 1px solid white;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    margin: 1rem 0;
}

.blog-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.date{
    font-size: 1.25rem;
    color: lightgreen;
}