* {
    margin: 0;
    padding: 0;
    @font-face {
        font-family: 'CaskaydiaCove Nerd Font Mono';
        src: url("./fonts/CaskaydiaCoveNerdFontMono-Regular.ttf")
    }
    @font-face {
        font-family: 'CaskaydiaCove Nerd Font Mono';
        font-weight: bold;
        src: url("./fonts/CaskaydiaCoveNerdFontMono-Bold.ttf");
    }
    font-family: 'CaskaydiaCove Nerd Font Mono', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    color: white; 
    display: grid;
}

header {
    position: fixed;
    top: 0px;
    margin: 3rem;
}
  
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1rem;
}

footer {
    background-color: #0e0e0e;
    height: 10vh;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: grid;
    place-items: center;
    border-top: 1px solid white;
}

footer > small {
    font-size: 1rem;
}

main {
    border: 1px solid white;
    border-radius: 5px;
    height: 65vh;
    margin: 20vh 3rem 10vh 3rem;
    padding: 0.75rem; 
    overflow: scroll;
    overflow-x: hidden;
}

@media only screen and (max-width: 460px) {
    main {
        height: 55vh;
        margin: 30vh 3rem 10vh 3rem;
    }
}

.command {
    color: white;
    background-color: black;
    border: none;
    outline: none;
    font-size: 1rem;
}

.response {
    font-size: 1rem;
}

.username{
    color: green;
}

.hostname{ 
    color: lightgreen;
}

.history {
    background-color: black;
    border: none;
    outline: none;
    font-size: 1rem;
    resize: none;
}

.social{
    color: white;
    text-decoration: none;
}

.social:hover{
    color: lightgreen;
}

/* Table */
.table-header > td {
    text-decoration: underline;
} 

td {
    padding: 0 1rem 0 0;
}
