{{ $style := .Get "style" | default "note" }}

{{ $icon := "chevrons-right"}}

{{ if eq $style "alert" }}
    {{ $icon = "alert-octagon"}}
{{ else if eq $style "warning" }}
    {{ $icon = "alert-triangle"}}
{{ else if eq $style "info" }}
    {{ $icon = "info"}}
{{ else if eq $style "success" }}
    {{ $icon = "star"}}
{{ end }}

<div class="color-block content-margin color-block-{{$style}}">

    {{ partial "svg/feather.html" $icon }}

    <div class="color-block-content">
        {{ .Inner | markdownify }}
    </div>
</div>
