.color-block {
  border-radius: 0.25rem;
  padding: 0.75rem;

  display: flex; 

  svg{
    margin: 0.125rem 1rem 0 0.5rem; 
  }
}

.color-block-head{
  text-transform: uppercase;
}

.color-block-note {
  background-color: $color-colorblock-note-bg;
  color: $color-colorblock-note-text;
}

.color-block-alert {
  background-color: $color-colorblock-alert-bg;
  color: $color-colorblock-alert-text; 
}

.color-block-warning {
  background-color: $color-colorblock-warning-bg;
  color: $color-colorblock-warning-text;
}

.color-block-info {
  background-color: $color-colorblock-info-bg;
  color: $color-colorblock-info-text;
}

.color-block-success {
  background-color: $color-colorblock-success-bg;
  color: $color-colorblock-success-text;
  
  svg, strong {
    color: $color-colorblock-success-text;
  }
}
