.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    a {
        text-decoration: none;
        color: $fgBase;
        font-size: 1rem;
        padding: 0 0.5rem;

        &:hover {
            color: $highlightPrimary;
        }
    }
}

// Links 
a {
    text-decoration: none;
    color: $fgBase;

    &:hover {
        color: $highlightPrimary;
        font-weight: 400;
    }
}

// Code blocks
.highlight {
    background-color: $bgSecondary;

    border-radius: 0.25rem;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 0.75rem;

    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;

    overflow-x: auto;
    
    span {
        background-color: $bgSecondary;
    }
}