// Dark Theme colors
$bgBase: #2d2f31;
$bgPrimary: #27292B;
$bgSecondary: #1E1F20; 
$fgBase: #F7F8FA; 
$colorPrimary: #62929E;
$colorSecondary: #63CCCA; 
$highlightPrimary: #E54B4B; 
$highlightSecondary: #eb8d8d;

