.blog-body {
    margin: 0 3rem;
    overflow: scroll;
    display: grid;
    grid-template:
        'content recents'
        'content categories'
        'content socials'
        'content .'
        'footer footer';

}

.container {
    background-color: var(--bg-secondary);
    margin: 0 1rem 1rem 0; 
    padding: 1rem;
    border-radius: 5px;
    border-left: 1px solid var(--secondary-color);
}

.blog-list {
    grid-area: content;
    /* grid-row: 1 / span 2;  */
    grid-column-start: 0;
    margin-right: 1rem;
}

.blog-description {
    margin-right: 0.5rem;
    text-align: justify;
}

.blog-categories {
    grid-area: categories;
}

.blog-recents {
    grid-area: recents;
}

.blog-socials {
    grid-area: socials;
    padding: 1rem;
    background-color: var(--bg-secondary);
}

.blog-socials > ul > li {
    margin: 0.5rem 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul > li {
    margin: 0.1rem 0;
}

.footer {
    grid-area: footer;
    justify-self: center;
    color: var(--secondary-color);
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
}

@media (min-width: 1000px) {
    .blog-categories {
        width: 15rem;
    }
}

@media (max-width: 1000px) {

    header {
        margin: 2rem 1rem 2vh 1rem;
    }

    .blog-body{
        display: flex;  
        flex-direction: column;
        margin: 0 1rem;
    }

    .blog-categories{
        grid-row-start: 1;
        border-top: 1px solid var(--secondary-color);
        border-left: none;
        margin-right: 1rem;
    }

    .blog-recents{
        grid-row-start: 0;
        border-bottom: 1px solid var(--secondary-color);
        border-left: none;
        margin-right: 1rem;
    }

    .blog-socials{
        grid-row-start: 2;
        border-top: 1px solid var(--secondary-color);
        border-left: none;
        margin-right: 1rem;
    }

    .blog-list {
        grid-row-start: 1;
    }

    .tag-list { 
        flex-direction: column;

        .tag {
            margin-bottom: 0.25rem;
        }
    }
}


.blog-entry {
    transition: all .2s ease-in;
    background-color: var(--bg-main);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
}

.blog-entry:hover {
    border: 1px solid var(--highlight);

    .tag {
        background-color: var(--highlight);
    }

    .date {
        color: var(--highlight)
    }
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
}
  
.date{
    transition: all .2s ease-in;
    font-size: 1.25rem;
    color: var(--primary-color);
}

.tag-list{
    margin: 1rem 0 0 0; 
    text-align: right;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

.tag{
    transition: all .2s ease-in;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 0.25rem 0.5rem; 
    margin-right: 0.5rem; 
    color: var(--bg-secondary)
}