/* Variables */
:root {
    --background: #2d2f31;
    --bg-main: #27292B;
    --bg-secondary: #1E1F20;
    --fg-main: #F7F8FA;
    --fg-secondary: #D6D0CE;
    --primary-color: #63CCCA;
    --secondary-color: #62929E;
    --highlight-faded: #eb8d8d;
    --highlight: #E54B4B;
}

/* Fonts */
@font-face {
    font-family: 'CaskaydiaCove Nerd Font Mono';
    src: url("./fonts/CaskaydiaCoveNerdFontMono-Regular.ttf")
}
@font-face {
    font-family: 'CaskaydiaCove Nerd Font Mono';
    font-weight: bold;
    src: url("./fonts/CaskaydiaCoveNerdFontMono-Bold.ttf");
}

/* Selection highlight */
::-moz-selection,
::selection {
    background: var(--highlight-faded);
    color: var(--bg-secondary);
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'CaskaydiaCove Nerd Font Mono', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--background);
    color: var(--fg-main); 
    display: flex; 
    flex-direction: column;
}

header {
    position: sticky;
    top: 0px;
    margin: 2rem 3rem 2vh 3rem;
    flex: 0 0 1;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
}

.main{
    margin: 1rem 3rem
}

@media (max-width: 800px){
    header {
        margin: 2rem 1rem 2vh 1rem;
    }
    .main{
        margin: 1rem 1rem
    }
}


.highlight {
    color: var(--highlight);
}
.color-primary {
    color: var(--primary-color);
}
.color-secondary {
    color: var(--secondary-color);
}

.bg-light {
    background-color: var(--background);
}
.bg-mid {
    background-color: var(--bg-main);
}
.bg-dark {
    background-color: var(--bg-secondary);
}

footer {
    background-color: var(--bg-secondary);
    height: 7vh;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: grid;
    place-items: center;
    border-top: 1px solid var(--fg-main);
    flex: 1 1 0;

    small {
        font-size: 1rem;
    }
}

a{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: var(--fg-main);
    text-decoration: none;
    
    &:hover {
        color: var(--highlight);
    }
}

a.in-text {
    color: var(--highlight);

    &:hover {
        color: var(--fg-main);
    }
}

.back-button {
    color: var(--secondary-color);
    margin-right: 5px;
}