/* Variables */
:root {
    --background: #2d2f31;
    --bg-main: #27292B;
    --bg-secondary: #1E1F20;
    --fg-main: #F7F8FA;
    --fg-secondary: #D6D0CE;
    --primary-color: #63CCCA;
    --secondary-color: #62929E;
    --highlight-faded: #eb8d8d;
    --highlight: #E54B4B;
}

/* Fonts */
@font-face {
    font-family: 'CaskaydiaCove Nerd Font Mono';
    src: url("./fonts/CaskaydiaCoveNerdFontMono-Regular.ttf")
}
@font-face {
    font-family: 'CaskaydiaCove Nerd Font Mono';
    font-weight: bold;
    src: url("./fonts/CaskaydiaCoveNerdFontMono-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'CaskaydiaCove Nerd Font Mono', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--background);
    color: var(--fg-main); 
    display: flex; 
    flex-direction: column;
}

header {
    position: sticky;
    top: 0px;
    margin: 2rem 3rem 2vh 3rem;
    flex: 0 0 1;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    list-style-type: none;
}

nav > ul > li {
    margin-left: 0.5rem;
    text-transform: uppercase;
}
  
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
}

.highlight {
    color: var(--highlight);
}
.color-primary {
    color: var(--primary-color);
}
.color-secondary {
    color: var(--secondary-color);
}

footer {
    background-color: var(--bg-secondary);
    height: 7vh;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: grid;
    place-items: center;
    border-top: 1px solid var(--fg-main);
    flex: 1 1 0;
}

footer > small {
    font-size: 1rem;
}

#main {
    background-color: var(--bg-main);
    border: 1px solid var(--fg-main);
    border-radius: 0 0 5px 5px;
    margin: 0 3rem 9vh 3rem; 
    padding: 0.75rem; 
    overflow: scroll;
    overflow-x: hidden;
    flex: 1 1 auto;     
}

/* Terminal */
#terminal-header {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 3rem;
    background-color: var(--bg-secondary);
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--fg-main);
    border-bottom: none;
}

#terminal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
}
#terminal-buttons > span {
    border-radius: 100%;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.close{
    background-color: var(--highlight);
}
.minimize{
    /* border: 1px solid var(--fg-main); */
    background-color: var(--primary-color);
}
.maximize {
    /* border: 1px solid var(--fg-main); */
    background-color: var(--secondary-color);
}

@media only screen and (max-width: 700px) {
    main {
        margin: 30vh 3rem 10vh 3rem;
    }
    header > div {
        flex-direction: column;
        align-items: start;
    }
    nav {
        margin-top: 1rem;
    }
    nav > ul > li {
        margin-left: 0rem; 
        margin-right: 0.5rem;
    }
}

.prompt {
    display: grid;
    grid-template-columns: auto 1fr;
}

.command {
    color: var(--fg-main);
    background-color: var(--bg-main);
    border: none;
    outline: none;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.suggestions {
    color: var(--fg-secondary);
}

.response {
    font-size: 1rem;
}

.username{
    color: var(--secondary-color);
}

.hostname{ 
    color: var(--primary-color);
}

.history {
    background-color: var(--bg-main);
    border: none;
    outline: none;
    font-size: 1rem;
    resize: none;
}

a{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: var(--fg-main);
    text-decoration: none;
}

a.in-text{
    color: var(--highlight-faded);
}

a:hover{
    color: var(--highlight);
}

.back-button {
    margin-right: 5px;
}

/* Table */
.table-header > td {
    text-decoration: underline;
} 

td {
    padding: 0 1rem 0 0;
}
