<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>

{{ $ctx := .ctx }}
{{ $title := .title }}
{{ $content := .content }}
{{ $res := .res }}

<div class="home-layout content-margin">
    
    <div class="my-8">

        <div class="home-title">
            <h1>Jakob Friedl</h1>
            <p class="typewriter"></p>
        </div>

        {{ if $content }}
            {{- partial "content.html" (dict "ctx" $ctx "content" $content) -}}
        {{ end }}
    </div>
    {{/*  {{ with $res }}
        <div class="bookcase-layout content-margin">
            {{ range . }}
                {{ $hidden := .Params.bookcase_hidden | default false }}
                {{ if not $hidden -}}
                    {{- partial "bookcase/item.html" . -}}
                {{- end }}
            {{ end }}
        </div>
    {{ end }}  */}}
</div>

<script>
    let instance = new TypeIt(".typewriter", {
        strings: ["Penetration Tester", "Cybersecurity Student", "Programming Enthusiast", "Security Researcher"],
        breakLines: false,
        loop: true,
        speed: 100
    })

    instance.go();
</script>