
<div class="blog-footer">
    <div class="icon">
        <a href="https://github.com/jakobfriedl" target="_blank">
            {{ partial "svg/simple.html" "github" }}
        </a>
    </div>
    <div class="icon">
        <a href="https://linkedin.com/in/jakobfriedl" target="_blank" class="icon">
            {{ partial "svg/simple.html" "linkedin" }}
        </a>
    </div>
    <div class="icon">    
        <a href="https://x.com/ziphertext" target="_blank" class="icon">
            {{ partial "svg/simple.html" "x" }}
        </a>
    </div>
    <div class="icon">    
        <a href="/index.xml" target="_blank" class="icon">
            {{ partial "svg/simple.html" "rss" }}
        </a>
    </div>
</div>
