{{- $terms := .terms -}}
{{- $sortby := .sortby | default "count" -}}
{{- $order := .order | default "asc" -}}
{{- if eq $sortby "count" -}}
    {{- $terms = sort $terms "Count" $order -}}
{{- else if eq $sortby "alphabetical" -}}
    {{- $terms = sort $terms "Page.Title" $order -}}
{{- end -}}

{{ if $terms }}
    {{ $fontSize := 16 }}
    {{ $lineHeight := 1.7 }}

    {{ $termCount := slice }}
    {{ range $terms }}
        {{ $termCount = append .Count $termCount }}
    {{ end }}
    {{ $termCount = sort $termCount }}

    {{ $min := int (index $termCount 0) }}
    {{ $max := add (int (index $termCount (sub (len $termCount) 1))) 1 }}

    <div>
        {{ range $terms }}

            <a class="term-item" href="{{ .Page.RelPermalink }}" style="line-height:{{$lineHeight}}rem">
                <span style="font-size:{{ $fontSize }}px">{{- .Page.Title -}}</span>
                <span style="font-size:{{ sub $fontSize 4 }}px"> ({{- .Count -}}) </span>
            </a><br>
        {{ end }}
    </div>
{{ end }}
