.home-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height:75vh; 

    .home-title {
        padding-bottom: 0.75rem;      
        margin-bottom: 1rem;
        border-bottom: 0.15rem solid var(--color-link);


        h1 {
            @include text-home;
            text-transform: uppercase; 
            letter-spacing: 0.25rem;
            text-align: center;
            margin-bottom: -0.25rem;
        }

        .typewriter {
            @include text-2xl;
            text-align: center;
            letter-spacing: .125rem;
            font-weight: bold;
            color: var(--color-colorblock-note-text);
        }
    }

    @media screen and (max-width: $md_min_width) {
        
        justify-content: normal;

        h1 {
            @include text-5xl;
            letter-spacing: 0.125rem;
        }

        .bookcase-layout {
            flex-direction: column;
            justify-content: baseline;
            height: auto;
        }
    }
}