.home-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height:75vh; 

    .home-title {
        padding-bottom: 1rem;      
        margin-bottom: 1rem;

        h1 {
            @include text-home;
            text-transform: uppercase; 
            letter-spacing: 0.25rem;
            text-align: center;
            border-bottom: 0.25rem solid var(--color-highlight);
            padding-bottom: 0.5rem;
        }

        .typewriter {
            @include text-2xl;
            text-align: center;
            letter-spacing: .125rem;
            font-weight: bold;
            color: var(--color-link);
        }
    }

    @media screen and (max-width: $md_min_width) {
        
        justify-content: normal;

        h1 {
            @include text-5xl;
            letter-spacing: 0.125rem;
        }

        .bookcase-layout {
            flex-direction: column;
            justify-content: baseline;
            height: auto;
        }
    }
}